<div class="container">
  <header class="header">
    <div class="toolbar" role="banner">
      <span>TruckBoard</span>
      <div class="spacer"></div>
    </div>
  </header>
  <aside class="sidebar">
    <app-menu> </app-menu>
  </aside>
  <main class="main">
    <div class="card-state" >
      <div *ngFor="let section of cardItems">
        <app-card-state></app-card-state>
      </div>
    </div>
    <div class="map-notifications">
      <img  width="800px" height="400px" src="../assets/mapas.jpg" />
      <div class="card-notification" >
        <app-card-notification></app-card-notification>
        <app-card-notification></app-card-notification>
        <app-card-notification></app-card-notification>
        <app-card-notification></app-card-notification>
        <app-card-notification></app-card-notification>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="tabla-container">
      <table class="tabla-datos">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>ID</th>
            <th>Placas</th>
            <th>Estado</th>
            <th>Coordenadas</th>
            <th>Código Verde</th>
            <th>Códigos Amarillos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of datos">
            <td>{{ row.nombre }}</td>
            <td>{{ row.id }}</td>
            <td>
              <div>{{ row.placa1 }}</div>
              <div>{{ row.placa2 }}</div>
            </td>
            <td>{{ row.estado }}</td>
            <td>{{ row.coordenadas }}</td>
            <td><span class="codigo-verde">{{ row.codigoVerde }}</span></td>
            <td>
              <span class="codigo-amarillo" *ngFor="let codigo of row.codigosAmarillos">{{ codigo }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </footer>
</div>
